/* For Whole page */

* {font-family:"Azeret Mono", monospace;
box-sizing: border-box;
margin: none;
padding: none;}

/* header part */

nav{ display: flex;
justify-content: space-between;
margin: 5px 70px;
padding: 2px;}
nav button{width: 244px;
    height: 65px;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 8px;
    background-color: aliceblue;
    color: #0D1321;}


/* main part */

/* color for all */
.dark-blue{color: #0D1321;}


/* 1 .banner part */

.banner{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
    min-height: 581px;
    margin: 0px auto;
/* margin: 26px 221px 45px 221px; */

}
.banner img{width: 240px;
height: 240px;}
.banner h2{font-size: 48px;
font-weight: bolder;
text-align: center;}
.banner p{font-size: 16px;
font-weight: auto;
text-align: center;}
.banner button{width: 244px;
height: 65px;
font-size: 20px;
font-weight: 700px;
border-radius: 8px;
color: aliceblue;
background-color: #0D1321;}
.banner-bg{background-image: url(../assets/Hero-bg.png);
height: 652px;}


/* info part */
.info-part{max-height: 1233px;
           max-width:996px ;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 0 auto;}
.info-flex{display: flex;
justify-content: center;
align-items: center;}
.info-text{text-align: center;}
.info-text h3{font-size: 32px;
font-weight: bolder;}
.info-text p{font-size: 16px;
}
.inline{align-self: flex-end;}
.h3{font-size: 24px;
font-weight: bold;}

.btn{width: 171px;
    height: 47px;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 8px;
    background-color: aliceblue;
    color: #0D1321;}
    .btn a{text-decoration: none;
    color: #0D1321;}
    .btn a:hover{color: rgb(167, 99, 231);}

