/* For Whole page */

* {font-family:"Azeret Mono", monospace;
box-sizing: border-box;
margin: none;
padding: none;}

/* header part */

nav{ display: flex;
justify-content: space-between;
margin: 5px 70px;
padding: 2px;}
nav button{width: 244px;
    height: 65px;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 8px;
    background-color: aliceblue;
    color: #0D1321;}


/* main part */

/* color for all */
.dark-blue{color: #0D1321;}


/* 1 .banner part */

.banner{display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 998px;
    min-height: 581px;
    margin: 0px auto;
/* margin: 26px 221px 45px 221px; */

}
.banner img{width: 240px;
height: 240px;}
.banner h2{font-size: 48px;
font-weight: bolder;
text-align: center;}
.banner p{font-size: 16px;
font-weight: auto;
text-align: center;}
.banner button{width: 244px;
height: 65px;
font-size: 20px;
font-weight: 700px;
border-radius: 8px;
color: aliceblue;
background-color: #0D1321;}
.banner button a{text-decoration: none;
color: aliceblue;}
.banner button a:hover{color: aqua;}
.banner-bg{background-image: url(../assets/Hero-bg.png);
height: 652px;}


/* info part */
.info-part{max-height: 1233px;
           max-width:996px ;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin: 0 auto;}
.info-flex{display: flex;
justify-content: center;
align-items: center;}
.info-text{text-align: center;}
.info-text h3{font-size: 32px;
font-weight: bolder;}
.info-text p{font-size: 16px;
}
.inline{align-self: flex-end;}
.h3{font-size: 24px;
font-weight: bold;}

.btn{width: 171px;
    height: 47px;
    font-size: 20px;
    font-weight: 700px;
    border-radius: 8px;
    background-color: aliceblue;
    color: #0D1321;}
    .btn a{text-decoration: none;
    color: #0D1321;}
    .btn a:hover{color: rgb(167, 99, 231);}

    /* description sec */
    .description-sec{display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
margin-top: 40px;}
iframe{border-radius: 20px;
background-color: rgb(255, 147, 7);}


/* target section */
.target-section{
width: 1140px;
margin: 0 auto;}
.target-sec-div{display: flex;
justify-content: space-between;
align-items: center;}
.card{width: 364px;
height: 300px;
padding: 20px;
background-color: antiquewhite;}
.card a{color: #0D1321;
font-weight: bold;}
.card a:hover{color: rgb(129, 255, 213);}
.target-head{text-align: center;}
.target-head h2{font-size: 32px;
font-weight: bolder;}


/* support sec */
.support-sec{display:flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
height: 313px;
margin: 0px auto;
background-color: rgba(0, 0, 0, 0.5);
background-image: url(../assets/handshake.jpg);
background-size: 1140px 313px;
background-blend-mode: overlay;
}
.support-sec h3{ color: aliceblue;
font-size: 32px;
font-weight: bold;}
.support-sec p{color: aliceblue;}
.support-sec-form{display:flex;gap: 10px;

}
.support-sec button{width: 120px;
height: 57px;
border-radius:15px;}

form input{
width: 548px;
height: 57px;
padding-left: 20px;
border-radius:15px;}



/* footer */
footer{margin-top: 20px;
    display: flex;
justify-content: space-around;
align-items: center;

background-color: antiquewhite;}
footer h5{color: #0D1321;
font-weight: bold;
font-size: 20px;}
html{scroll-behavior: smooth;}
footer div{display: flex;gap: 15px;
}
